<p>subscription works!</p>

<div style="padding: 10px; margin: 10px">
  <a style="padding: 10px; margin: 10px" [routerLink]="['/activation']"
    >activation</a
  >
  <a
    style="padding: 10px; margin: 10px"
    [routerLink]="['/bottom-navigation/live']"
    >live</a
  >
  <a style="padding: 10px; margin: 10px" [routerLink]="['/ipo']">ipo</a>
  <a style="padding: 10px; margin: 10px" [routerLink]="['/login']">login</a>
  <a style="padding: 10px; margin: 10px" [routerLink]="['/subscription']"
    >subscription</a
  >
</div>
